header 
{
background-color: #FFD59E;
flex-direction: row;
text-align: center;

display: flex ;
justify-content: space-between;

}
body{background-color: #F9FFA4;}

a 
{
text-decoration: none;
}
.studentName{

    display: flex ;
    justify-content: space-between;
    

}
form
{
    width: 300px;
    margin: 0 auto;
}
h2{text-align: center;}
fotter
  {    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
background-color:#FFA1A1;
text-align: center;
  }
  .overview
  {
margin:60px;

  }

  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
align-items: center;
margin-left: auto;
  margin-right: auto;
  }