@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

header 
{
background-color: #FFD59E;
flex-direction: row;
text-align: center;

display: flex ;
justify-content: space-between;

}
body{background-color: #F9FFA4;}
a 
{
text-decoration: none;

}
.header1
{
    font-size: larger;
    text-align: center;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
align-items: center;
margin-left: auto;
  margin-right: auto;
  }
.contactMe
{
    border-collapse: collapse;
    align-items: center;
    margin-left: auto;
      margin-right: auto;
      text-align: center;

}
fotter
  {    position: fixed;
    bottom: 0;
    width: 100%;
    display: block;
background-color:#FFA1A1;
text-align: center;
  }
  #lname
  {

    background-color: brown;
    
  }
  #lname1
  {

    background-color: red;
  }

section
  {
    border: 3px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #B4FF9F;
    border: 60px;

  }